:root{
    --deepblue: rgba(27, 27, 50, 0.8);
}  

body{
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}

#top{
    text-align: center;
}

#form-div{
    background: var(--deepblue);
    width: 450px;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1%;
}   

@media (min-width: 750px){
  #form-div{
    padding: 2.5rem;
    width: 650px;
  }
}

#survey-form {
    font-size: 1.2em;
}

[type=text], [type=number], [type=email], select{
    color: #737373;
    width: 90%;
    height: 2rem;
    font-size: 1.0rem;
    outline: none;
    margin: .3rem 0;
    padding-left: .3rem;
    border-radius: 0.3rem;
    border-color: transparent;
}

input:focus, textarea:focus {
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

select{
    width: 92%;
    height: 35px;
}

textarea {
    width: 92%;
    font-size: 16px;
    outline: none;
    margin: 5px 0px;
}

button {
    width: 93.5%;
    height: 2em;
    font-size: 1em;
    background-color: #37af65;
    color: #f3f3f3;
}

label p{
    display: inline;
    font-size: 0.8em;
}

label{  /* Why is this not working? */
    margin: 0 0 5px 0;
}