body {
    background: linear-gradient(90deg, #14c1e9, #c86ee1, #f54f59);
}

/* #######CLOCK#######*/

#clock {
    position:relative;
    right: 40px;
    height: 100px;
    width: 100px;
    border: solid #000;
    border-radius: 50%;
    border-width: 8px;
    float: right;
}

#origin {
    background: #000;
    position: absolute;
    margin: auto;
    width:12px;
    height:12px;
    transform:rotate(-45deg);
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
}

.hand {
  position: absolute;
  margin: auto;
  background-color: #000;
  height: 6px;
  width: 44px;
}
.hand:after {
  background-color: #000;;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
}
.hand:before {
  background-color: #000;;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
}

#second {
  transform: rotate(-90deg);
  top: -23px;
  right: 0;
  bottom: 0;
  left: 0;
}

#second:after {
  left: -37px;
}

#second:before {
  right: -14px;
}

#minute {
    transform:rotate(0deg);
    top: 0px;
    right: 0;
    bottom: 0;
    left: -23px;
}
#minute:after {
  left: -14px;
}

#minute:before {
  right: -37px;
}


/* ########## MAIN TABLE #########*/

.monitor {
  position: relative;
}

.display{
    position: absolute;
    border-width: 9px 9px 20px 9px;
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    float: left;
}

#display1 {
  top: 50px;
  right: 0;
  bottom: 0;
  left: 250px;
  height: 150px;
  width: 350px;
}

#screen1 {
  border-width: 2px 4px;
  border-color: #eaeaea;
  border-style: solid;
  height: 146px;
  width: 342px;
}

#display2 {
  top: 0px;
  right: 0;
  bottom: 0;
  left: 632px;
  height: 200px;
  width: 140px;
}

#screen2 {
  border-width: 2px;
  border-color: #eaeaea;
  border-style: solid;
  height: 196px;
  width: 136px;
}

.stand {
  position:absolute;
  background:#000000;
  width: 14px;
  height: 40px;
  top: 225px;
}

#stand1 {
  left: 427px;
}

#stand2 {
  left: 704px;
}

.base {
  position:absolute;
  background:#000000;
  width: 100px;
  height: 20px;
  top: 257px;
  border-radius: 10px;
}

#base1 {
  left: 384px;
}

#base2 {
  left: 661px;
}

#speaker {
  position: absolute;   /* DOUBT: WHY ABSOLUTE? WHY NOT RELATIVE JUST LIKE .monitors and #table-top?*/
  background: #000000;
  height: 200px;
  width: 110px;
  top: 73px;
  left: 900px;
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  border-color: #7f8180;
  border-radius: 10px;
}

.ring{
  position: absolute;
  background: linear-gradient(90deg, #6ca1ca, #dc48e2, #eac264, #e34436, #61d63e);
  margin: 4px;
  top: 6px;
  left: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
}

#ring2{
  top: 61px;
}

#ring3{
  top: 116px;
}

.gap {
  position: relative;
  background: #000000;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

#design {
  position: relative;
  right: -100px;
  top: 7px;
  border-right: 10px solid #7f8180;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  height: 130px;
  width: 0;
}

#shine {
  position: relative;
  right: -30px;
  top: -180px;
  border-top: 200px solid #ffffff;
  border-left: 65px solid transparent;
  border-right: 15px solid #ffffff;
  border-top-right-radius: 10px;
  opacity: 30%;
  height: 0px;
  width: 0;
  z-index: 2;
}

#cup-bowl{
  position: absolute; 
  background: #f64f59; 
  height: 45px; 
  width: 80px; 
  border-radius: 100px 100px 20px 20px; 
  top: 223px; 
  left: 229px;
  transform: rotate(180deg);
}

#plate{
  position: absolute; 
  background: #f64f59; 
  height: 8px; 
  width: 95px; 
  border-radius: 50%; 
  top: 265px; 
  left: 223px;
}

#cup-handle {
  position: absolute;
  background: transparent;
  height: 5px;
  width: 19px;
  border-width: 5px;
  border-style: solid;
  border-color: #f64f59;
  border-radius: 20px 20px 10px 10px;
  top: 235px;
  left: 295px;
  transform: rotate(108deg);
}

#vapours{
  position: absolute;
  top: 190px;
  left: 250px;
}

.vapour{
  position: relative;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 7px #7b8187;
}

#vapour2{
  left: 20px;
}

#vapour3{
  top: 15px;
  left: 7px;
}

#vapour4{
  top: 16px;
  left: 23px
}

#vapour5{
  top: 13px;
  left: 10px;
}

#table-top {
  position: relative;
  background: #000000;
  height: 20px;
  width: 875px;
  top: 265px;
  left: 200px;
}

.notch{
  background: #000000;
  width: 8px;
  height: 5px;
}

#notch1 {
  position:relative;
  top: 265px;
  left: 225px;
}

#main-stand {
  position: relative;
  background: #000000;
  width: 18px;
  height: 164px;
  top: 263px;
  left: 220px;
}

#drawer-stand {
  position: absolute;
}

#notch2{  
  position:absolute;
  top: 96px;
  left: 980px;
}

#notch3{
  position:absolute;
  top: 96px;
  left: 1030px;
}

#notch4{
  position:absolute;
  top: 177px;
  left:980px;
}

#notch5{
  position:absolute;
  top: 177px;
  left: 1030px;
}

.drawer{
  position: absolute;
  background: #000000;
  width: 80px;
  height: 78px;
  left: 970px;
}

#drawer1{
  top: 100px;
}

#drawer2{
  top: 182px;
}

.handle {
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 5px;
  left: 980px;
}

#handle1 {
  top: 112px; 
}

#handle2 {
  top: 194px; 
}

.chord {
  position: absolute;
  background: transparent;
  border-style: solid;
  border-color: #000000;
}

#monitor-1-chord-1 {
  height: 55px;
  width: 110px;
  top: 275px;
  left: 439px;
  border-width: 0px 0px 5px 5px;
  border-bottom-left-radius: 15px;
}

#monitor-1-chord-2 {
  height: 15px;
  width: 25px;
  top: 330px;
  left: 544px;
  border-width: 5px 5px 0px 0px;
  border-top-right-radius: 10px;
}

#monitor-2-chord {
  height: 75px;
  width: 110px;
  top: 282px;
  left: 607px;
  border-width: 0px 5px 5px 0px;
  border-bottom-right-radius: 15px;
}

.supply {
  background: #ffffff;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  border-width: 4px;
  border-color: #000000;
  border-style: solid;
}

#supply1 {
  position: absolute;
  top: 347px;
  left: 560px;
}

#supply2 {
  position: absolute;
  top: 347px;
  left: 590px;
}

.power-btn {
  background: #818080;
  height: 6px;
  width: 6px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 2px;
}

#power-btn-1 {
  position: relative;
  top: 3px;
  left: 3px;
}

#power-btn-2 {
  position: relative;
  top: 3px;
  left: 3px;
}
