body {
    background: linear-gradient(90deg, #14c1e9, #c86ee1, #f54f59);
}

/* #######CLOCK#######*/

#clock {
    position:relative;
    right: 40px;
    height: 100px;
    width: 100px;
    border: solid #000;
    border-radius: 50%;
    border-width: 8px;
    float: right;
}

#origin {
    background: #000;
    position: absolute;
    margin: auto;
    width:12px;
    height:12px;
    transform:rotate(-45deg);
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
}

.hand {
  position: absolute;
  margin: auto;
  background-color: #000;
  height: 6px;
  width: 44px;
}
.hand:after {
  background-color: #000;;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
}
.hand:before {
  background-color: #000;;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
}

#second {
  transform: rotate(-90deg);
  top: -23px;
  right: 0;
  bottom: 0;
  left: 0;
}

#second:after {
  left: -37px;
}

#second:before {
  right: -14px;
}

#minute {
    transform:rotate(0deg);
    top: 0px;
    right: 0;
    bottom: 0;
    left: -23px;
}
#minute:after {
  left: -14px;
}

#minute:before {
  right: -37px;
}


/* ########## MAIN TABLE #########*/

.monitor {
  position: relative;
}

.display{
    position: absolute;
    border-width: 9px 9px 20px 9px;
    border-style: solid;
    border-color: #000;
    border-radius: 10px;
    float: left;
}

#display1 {
  top: 50px;
  right: 0;
  bottom: 0;
  left: 250px;
  height: 150px;
  width: 350px;
}

#screen1 {
  border-width: 2px 4px;
  border-color: #eaeaea;
  border-style: solid;
  height: 146px;
  width: 342px;
}

#display2 {
  top: 0px;
  right: 0;
  bottom: 0;
  left: 632px;
  height: 200px;
  width: 140px;
}

#screen2 {
  border-width: 2px;
  border-color: #eaeaea;
  border-style: solid;
  height: 196px;
  width: 136px;
}

.stand {
  position:absolute;
  background:#000000;
  width: 14px;
  height: 40px;
  top: 225px;
}

#stand1 {
  left: 427px;
}

#stand2 {
  left: 704px;
}

.base {
  position:absolute;
  background:#000000;
  width: 100px;
  height: 20px;
  top: 257px;
  border-radius: 10px;
}

#base1 {
  left: 384px;
}

#base2 {
  left: 661px;
}

#speaker {
  position: absolute;   /* WHY ABSOLUTE? WHY NOT RELATIVE JUST LIKE .monitors and #table-top?*/
  background: #000000;
  height: 200px;
  width: 110px;
  top: 72px;
  left: 900px;
  border-style: solid;
  border-width: 15px 0px 0px 0px;
  border-color: #7f8180;
  border-radius: 15px;
}

.ring{
  position: relative;
  background: linear-gradient(90deg, #6ca1ca, #dc48e2, #eac264, #e34436, #61d63e);
  margin: 4px;
  top: 10px;
  left: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.gap {
  position: relative;
  background: #000000;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

#table-top {
  position: relative;
  background: #000000;
  height: 20px;
  width: 875px;
  top: 265px;
  left: 200px;
}