body {
    background:#f5f5db;
}

p::first-letter {
    font-size: xx-large;
}

main, footer {
    width:33%;
}

img, table {
    width:100%;
}

#info {
    font-weight: bold;
    background: #cccccc;
    text-align: center;
    margin-bottom: 5px;
}

a:link {
    color:blue;
}
a:visited {
    color:red;
}
a:hover {
    color:purple;
}

tr:nth-child(odd) {
    background:#cccccc;
}

footer {
    text-align: center;
}

button, button:visited {
    width: 30%;
    padding: 15px 20px;
    background: #dddddd;
    border-style: outset;
    margin: 0 auto;
}

button:hover {
    background: #cccccc;
    cursor: pointer;
}
