:root {
    --bgcolor: #eee;
    --badgecolor: #ddd;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--bgcolor);
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#title{
    display: flex;
    width: 60%;
}

.nav-link{
    width: 10%;
    text-align: center;
}

h1{
    display: block;
    font-size: 1.8em;
    margin: 0;
    font-weight: 300;
}

#logo {
    height: 1.8em;
    align-self: baseline;
    margin: 5px;
}

a {
    color: #101010;
    text-decoration: none;
}

#subhead-div{
    text-align: center;
}

h2{
    font-weight: 500;
    margin-bottom: 1em;
}

#get-started{
    background-color: #e2ce1c;
    font-weight: 600;
    border-radius: 0.5em;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 5em;;
}

#get-started:active {
    background-color: #eedd45;
}

#features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 750px){
    .feature{
        width: 750px;
        margin: 10px 0px;
    }
}

/*This media query shouldn't be reqd. WHY is it not working w/o this query.*/
@media (max-width: 750px){
    .feature{
        width: 90%;
        margin: 10px 0px;
    }
}

.feature-head {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}

.feature p {
    margin-top: 0;
}

.desc {
    font-size: 0.95em;
}

#premium::before {
    content: url(../images/quality.png);
    width: 70px;
    height: 70px;
    transform: rotate(90deg);
}