:root {
    --bgcolor: #eee;
    --badgecolor: #ddd;
}

body {
    background-color: var(--bgcolor);
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#title{
    display: flex;
    width: 60%;
}

.nav-link{
    width: 10%;
    text-align: center;
}

h1{
    display: inline;
    font-size: 1.8em;
    margin: 0;
    font-weight: 300;
}

#logo {
    height: 1.8em;
    align-self: baseline;
    margin: 5px;
}