:root {
    --bgcolor: #eee;
    --badgecolor: #ddd;
}

body {
    background-color: var(--bgcolor);
}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#title{
    display: flex;
    width: 60%;
}

.nav-link{
    width: 10%;
    text-align: center;
}

h1{
    display: inline;
    font-size: 1.8em;
    margin: 0;
    font-weight: 300;
}

#logo {
    height: 1.8em;
    align-self: baseline;
    margin: 5px;
}

a {
    color: #101010;
    text-decoration: none;
}

#subhead-div{
    text-align: center;
}

h2{
    font-weight: 500;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
}

#get-started{
    background-color: #e2ce1c;
    font-weight: 600;
    border-radius: 0.5em;
    border-style: solid;
    margin-top: 1em;
}

#get-started:active {
    background-color: #eedd45;
}