#main{
    background-color: #eeeeee;
}

#top {
    text-align: center;
}

#title {
    position: relative;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    top: 50px;
    color: #343434;
}

#top p {
    color: #565656;
}

#img-div {
    background-color: #fff;
    padding: 20px 15% 20px 15%;
    text-align: center;
}

#image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#img-caption {
    color: #5a5a5a;
}

#tribute-info {
    color: #5a5a5a;
    padding: 0 30% 0 30%;
}

#tribute-info p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}